# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/tmp
.rollup.cache/
*.tsbuildinfo
*.turbo

# Node
obj/
node_modules/
.log

# IDEs and editors
.project
*.launch
.settings/

# Visual Studio Code
.code-workspace
.vscode/*
.history/*

#Build files
build-and-serve.ps1
dev-api-key.js
